<!doctype html>
<html lang="en">
<head>
	<title>Lucy's Webpage</title>
	<meta charset = "utf-8">
	<meta name="description" content="Delete user">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
	
	<div class="navbar-fixed">
		<nav>
			<ul>
				<li><a href="{{url_for('main.index')}}">Back to Main Page</a></li>
				<li><a href="{{url_for('main.addpost')}}">Add a Post</a></li>
				<li><a href="{{url_for('main.logout')}}">Logout</a></li>
			</ul>
		</nav>
	</div>
	<h1><br></h1>
	
	<h1>Remove a user from the website</h1>
	{% for message in get_flashed_messages() %}
		{{ message }}
    {% endfor %}
	<form action="{{url_for('main.delete')}}" method = "POST">
		{{form.hidden_tag()}}
		{{form.username.label}} {{form.username()}}
		{{form.submit()}}
	</form>
	
	<div class="container">
		<ul>
			<li><a href="{{url_for('main.tacpage')}}">terms & conditions</a></li>
			<li><a href="{{url_for('main.usersearch')}}">Look up a user!</a></li>
		</ul>
	</div>
</body>
</html>